/*--------------------------------------
    [   Table of Contents   ]
    [   Author: Jashpal Rohit (Vadodara, Gujarat, India.)
        Facebook: https://facebook.com/jashpalrohit
        LinkedIn:
        Want to Hire Me..!! Just drop your message on Above Mentioned link.
    ]
        1. Loader
        2. Theme Custom CSS
        3. Header Menu
        4. Client Carousel
        5. Parallax
        6. Counter
        7. Client Testimonials
        8. FAQs
        9. Why Choose Us
        10. Home News Slider
        11. Home Page Latest Projects
        12. Home Page Team
        13. Inner Page Header
        14. Vision, Mission, Values
        X. Back to Top
        XX. Footer
---------------------------------------*/

/*----- 1. Loader -----*/

@-webkit-keyframes pulsate {
    0% {
        -webkit-transform: scale(.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        -webkit-transform: scale(1.2);
        opacity: 0
    }
}

@keyframes pulsate {
    0% {
        transform: scale(.1);
        opacity: 0
    }
    50% {
        opacity: 1
    }
    to {
        transform: scale(1.2);
        opacity: 0
    }
}

.preloader {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000
}

.preload {
    border: 5px solid #333;
    border-radius: 30px;
    height: 50px;
    width: 50px;
    left: 50%;
    top: 50%;
    opacity: 0;
    position: absolute;
    margin: -25px 0 0 -25px;
    animation: pulsate 1s ease-out;
    animation-iteration-count: infinite
}

/*----- 2. Theme Custom CSS -----*/

* {
    margin: 0;
    padding: 0;
}

html, body {
    overflow-x: hidden;
}

body {
    background: #fff;
    color: #272727;
    font: 15px/24px 'Play', sans-serif;
}

body h1, body h2, body h3, body h4, body h5, body h6 {
    color: #272727;
    font-style: normal;
    font-family: 'Play', sans-serif;
    font-weight: 400;
    line-height: 1.5;
    margin: 0 0 8px;
    text-transform: capitalize;
}

h1 {
    font-size: 64px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 20px;
}

h4 {
    font-size: 18px;
}

h5 {
    font-size: 16px;
}

h6 {
    font-size: 14px;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: #272727;
}

p, a, ul, li, ul li, button, h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

p a {
    color: #ffcc33;
}

p a:hover {
    color: #ffcc33;
    text-decoration: underline;
}

p {
    letter-spacing: normal;
    line-height: 24px;
    margin-bottom: 10px;
}

a {
    color: #ffcc33;
    text-decoration: none;
}

a:hover, a:focus, a:active {
    outline: none;
    text-decoration: none;
    color: #ffcc33;
}

ul {
    margin-bottom: 0;
}

figure {
    margin-bottom: 6px;
    position: relative;
}

img {
    max-width: 100%;
}

strong {
    color: #272727;
}

iframe {
    border: none;
    float: left;
    width: 100%;
}

select {
    border: 1px solid #d2d2d2;
    color: #666666;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 40px;
    padding: 8px 12px;
    width: 100%;
}

label {
    color: #272727;
    display: block;
    font-weight: 400;
    margin-bottom: 10px;
}

button {
    border: none;
    cursor: pointer;
}

textarea {
    height: 130px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #e1e1e1;
    color: #959595;
    display: inline-block;
    vertical-align: middle;
    font-weight: 400;
    font-size: 14px;
    line-height: 37px;
    width: 100%;
    height: 47px;
    outline: none;
    padding: 15px;
    background: #fff;
    box-shadow: none;
    border-radius: 0;
}

input:focus {
    box-shadow: none !important;
    color: #272727;
}

form p {
    float: left;
    position: relative;
    width: 100%;
}

form p span i {
    color: #474747;
    left: 16px;
    position: absolute;
    top: 13px;
}

option {
    padding: 5px 15px;
}

li {
    line-height: 28px;
    list-style: disc inside none;
}

ul ul {
    margin-left: 20px;
}

ol {
    float: none;
    list-style: decimal;
    padding-left: 15px;
}

ol ol {
    margin-left: 20px;
}

ol li {
    list-style: decimal;
    width: 100%;
}

table {
    background-color: transparent;
    max-width: 100%;
}

th {
    text-align: left;
}

table {
    margin-bottom: 15px;
    width: 100%;
}

table>thead>tr>th, table>tbody>tr>th, table>tfoot>tr>th, table>thead>tr>td, table>tbody>tr>td, table>tfoot>tr>td {
    border-top: 1px solid #d2d2d2;
    border: 1px solid #d2d2d2;
    line-height: 2.5;
    padding-left: 3px;
    text-align: center;
    vertical-align: top;
}

table thead tr th {
    border-top: 1px solid #d2d2d2;
    text-align: center;
    text-transform: capitalize;
}

table>thead>tr>th {
    border-bottom: 2px solid #d2d2d2;
    vertical-align: bottom;
}

table>tbody+tbody {
    border-top: 2px solid #d2d2d2;
}

p ins {
    color: #999;
}

dl dd {
    margin-left: 20px;
}

address {
    font-style: italic;
}

html, body {
    font-family: 'Play', sans-serif;
}

/*----- 3. Header Menu -----*/

main {
    z-index: 2;
    position: relative;
}

.main {
    z-index: 99
}

.mmtblr_0_auto {
    margin: 0 auto !important;
}

.mtb-25 {
    margin-top: 25px !important;
    margin-bottom: 25px !important;
}

.mb-20 {
    margin-bottom: 20px !important;
}

.mt-40 {
    margin-top: 40px
}

.alt-color {
    background-color: #ebf6ff;
    background: url(../images/alt-color-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.black-bg {
    background-color: #000
}

.white-bg-color {
    background: #fff
}

.white-bg {
    background-color: #fff;
    background: url(../images/white-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

a:hover {
    color: #FEBB1E;
    text-decoration: none;
}

.navbar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 5px;
}

header .navbar {
    margin-bottom: 0;
}

.header-top {
    height: 35px;
    padding: 5px 0px;
    background: #febb1e;
}

.border-gradiant {
    position: relative;
    height: 1px;
    background: linear-gradient(to right, #febb1d 35%, #ffd778 55%);
}

.header-top .contact-info li {
    margin-right: 40px;
}

.header-top ul li, .header-top ul li a {
    color: #151515;
    font-size: 14px;
}

ul.ul-li li {
    list-style: none;
    display: inline-block;
}

ul.ul-li, ul.ul-li-block {
    width: 100%;
    display: table;
}

header {
    width: 100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: position 10s;
    -ms-transition: position 10s;
    -o-transition: position 10s;
    transition: all 0.5s ease;
    z-index: 999;
}

header.mobile-menu.fixed .header-top {
    display: none;
}

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    animation: smoothScroll 1s forwards;
}

@keyframes smoothScroll {
    0% {
        transform: translateY(-60px);
    }
    100% {
        transform: translateY(0px);
    }
}

.header-top .social {
    margin: -9px 0px;
    border-right: 1px solid rgba(21, 21, 21, 0.1);
}

.header-top .social li.social-link {
    width: 40px;
    height: 40px;
    border-left: 1px solid rgba(21, 21, 21, 0.1);
}

.header-top .social li.social-link a {
    width: 100%;
    height: 100%;
    display: block;
    line-height: 40px;
    text-align: center;
    transition: 0.5s;
    font-size: 16px;
    padding: 2px 0 0;
    color: #3a3a3a;
}

.header-top .social li.social-link a:hover {
    background: #e4a000;
    color: #000;
}

a {
    color: #59595b;
    text-decoration: none;
    transition: 0.5s
}

a:hover {
    color: #59595b;
    text-decoration: none;
}

li {
    list-style-type: none;
}

.bg-image-full {
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.bg-dark {
    background-color: #222 !important;
}

.ideabox-navbar-custom ul.navbar-nav.ml-auto.navbar-right {
    text-transform: uppercase;
}

.ideabox-navbar-custom {
    background: -webkit-linear-gradient(45deg, #fff 39%, #FEBB1E 39%);
    background: -webkit-linear-gradient(left, #fff 39%, #FEBB1E 39%);
    background: linear-gradient(45deg, #fff 39%, #FEBB1E 39%);
}

.ideabox-navbar-custom.navbar-dark .navbar-nav .nav-link {
    color: #3a3a3a;
    text-transform: capitalize;
    font-size: 16px;
    padding: 25px 15px;
    font-weight: 600;
}

.ideabox-navbar-custom.navbar-dark .navbar-nav .nav-item.active .nav-link {
    color: #000;
}

.ideabox-navbar-custom.navbar-dark .navbar-nav .nav-link.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 10px;
    vertical-align: 3px;
    content: "";
    border-top: 5px solid;
    border-right: 5px solid transparent;
    border-bottom: 0;
    border-left: 5px solid transparent;
}

.ideabox-navbar-custom.navbar-dark .navbar-nav li.nav-item.dropdown ul.dropdown-menu {
    width: 220px;
    text-transform: capitalize;
    border-radius: 0;
    border: none;
    color: #ddd;
    padding: 0;
    background: #fff;
    margin: 0;
}

.ideabox-navbar-custom.navbar-dark .navbar-nav li.nav-item.dropdown ul.dropdown-menu li {
    padding: 7px;
    background: #031f37;
    transition: 0.5s;
    border-bottom: 1px solid #00172b;
    color: #fff;
    cursor: pointer;
}

.ideabox-navbar-custom.navbar-dark .navbar-nav li.nav-item.dropdown ul.dropdown-menu li a {
    color: #d4d4d4;
    font-size: 14px;
    transition: 0.5s;
}

.ideabox-navbar-custom.navbar-dark .navbar-nav li.nav-item.dropdown ul.dropdown-menu li:hover {
    background: #001d35;
    cursor: pointer;
    color: #FEBB1E
}

.ideabox-navbar-custom.navbar-dark .navbar-nav li.nav-item.dropdown ul.dropdown-menu li:hover a {
    color: #FEBB1E;
    margin-left: 5px
}

/*----- 3. Home Slider -----*/

.color-text {
    color: #FEBB1E;
}

.no-padding {
    padding: 0 !important
}

.mini-text {
    font-size: 12px;
    line-height: 22px;
}

.btn {
    color: #fff;
    cursor: pointer;
    display: block;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    border: 1px solid;
    border-radius: 0;
    overflow: hidden;
}

.btn:after {
    background: #000;
    content: "";
    height: 155px;
    left: -75px;
    opacity: .1;
    position: absolute;
    top: -50px;
    -webkit-transform: rotate(35deg);
    transform: rotate(35deg);
    -webkit-transition: all 1000 cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 1000 cubic-bezier(0.19, 1, 0.22, 1);
    width: 50px;
    z-index: 1;
}

.btn:hover:after {
    left: 120%;
    -webkit-transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
    transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.home-banner .site-button {
    background: rgba(254, 187, 29, 0.55);
    color: #fff;
    letter-spacing: 1px;
    padding: 15px 30px;
    display: inline-block;
    border: 1px solid #FEBB1E;
    transition: 0.5s;
}

.pad80 {
    padding: 80px 0;
}

.section-title:before {
    content: '';
    display: block;
    width: 1px;
    height: 70px;
    background: #363636;
    position: absolute;
    top: -80px;
    left: 50%;
}

.section-title p {
    text-transform: uppercase;
    color: #febb1d;
    letter-spacing: 0.18em;
}

.section-title h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;
    font-weight: bold;
}

.client-testimonials .section-title:before {
    background: #febb1d;
}

.client-testimonials h2 {
    color: #fff;
}

/*----- 4. Client Carousel -----*/

/*
.customer-logos {
    margin: 40px 0 0;
}*/

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track, .slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before, .slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
    margin: 0 auto;
    max-width: 70%;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
    border: 1px solid #ddd;
    background: #fff
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

section.home-three-services {
    margin: -30px 0 0;
}

section.home-three-services .single_service-block {
    background: url(../images/blue_bg.jpg);
    padding: 50px 20px;
    min-height: 270px;
    background-color: #042038;
    border: 1px solid #03182A;
    transition: 0.5s;
}

section.home-three-services .single_service-block .icon_block i {
    font-size: 50px;
    margin-bottom: 10px;
    color: #febb1d;
}

section.home-three-services .single_service-block h2 {
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 600;
    color: #fff;
}

section.home-three-services .single_service-block p {
    color: #fff;
}

section.home-three-services .single_service-block:hover {
    background: #febb1d;
    color: #fff;
    border-color: #febb1d;
    transform: scale(1.05);
    position: relative;
    z-index: 1;
}

section.home-three-services .single_service-block:hover h2, section.home-three-services .single_service-block:hover p, section.home-three-services .single_service-block:hover .icon_block i {
    color: #fff;
}

.home-about-text {
    margin-top: 40px
}

.home-about-text h4 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: bold;
}

.btn-readmore {
    color: #febb1e;
    width: auto;
    display: inline-block;
    font-size: 16px;
    border: 2px solid;
    margin: 20px 0;
    padding: 8px 35px;
}

.home-about-text p {
    margin: 10px 0
}

/*----- 5. Parallax -----*/

.parallax-window {
    min-height: 500px;
    background: transparent;
}

.parallax-counter-projects {
    min-height: 380px;
    background: transparent;
}

/*----- 6. Counter  -----*/

.sectiontitle {
    background-position: center;
    margin: 30px 0 0px;
    text-align: center;
    min-height: 20px;
}

.sectiontitle h2 {
    font-size: 30px;
    color: #222;
    margin-bottom: 0px;
    padding-right: 10px;
    padding-left: 10px;
}

.headerLine {
    width: 160px;
    height: 2px;
    display: inline-block;
    background: #101F2E;
}

.projectFactsWrap {
    display: flex;
    margin-top: 30px;
    flex-direction: row;
    flex-wrap: wrap;
}

#projectFacts .fullWidth {
    padding: 0;
}

.projectFactsWrap .item {
    height: 100%;
    text-align: center;
    border: 1px solid rgba(105, 105, 105, 0.54);
    padding: 15px 0 0;
}

.projectFactsWrap .item p.number {
    font-size: 40px;
    padding: 20px 0 0;
    font-weight: bold;
}

.projectFactsWrap .item p {
    color: rgba(255, 255, 255, 0.8);
    font-size: 18px;
    margin: 0;
    padding: 10px;
}

.projectFactsWrap .item span {
    width: 60px;
    background: rgba(255, 255, 255, 0.8);
    height: 2px;
    display: block;
    margin: 0 auto;
}

.projectFactsWrap .item i {
    vertical-align: middle;
    font-size: 50px;
    color: rgba(255, 255, 255, 0.8);
}

.projectFactsWrap .item:hover i, .projectFactsWrap .item:hover p {
    color: white;
}

.projectFactsWrap .item:hover span {
    background: white;
}

@media (max-width: 786px) {
    .projectFactsWrap .item {
        flex: 0 0 50%;
    }
}

/*----- 7. Client Testimonials -----*/

.testimonial {
    background: transparent;
    text-align: center;
    margin: 0 20px;
}

.testimonial .description {
    padding: 40px 30px;
    margin-bottom: 50px;
    border-top: 2px solid #febb1d;
    border-left: 2px solid #febb1d;
    font-size: 15px;
    color: #ffffff;
    line-height: 30px;
    text-align: left;
    position: relative;
}

.testimonial .description:before {
    content: "\f10e";
    font-family: fontawesome;
    display: inline-block;
    float: left;
    padding: 0 15px 5px 0;
    font-size: 30px;
    color: #febb1d;
    text-align: center;
    position: relative;
    top: 8px;
    left: 0;
}

.testimonial .description:after {
    content: "";
    width: 50%;
    height: 2px;
    background: #febb1d;
    position: absolute;
    bottom: 0;
    left: 0;
}

.testimonial .testimonial-content {
    position: relative;
}

.testimonial .testimonial-content:before {
    content: "";
    width: 2px;
    height: 22px;
    background: #febb1d;
    position: absolute;
    top: -52px;
    left: 50%;
}

.testimonial .testimonial-content:after {
    content: "";
    width: 3px;
    height: 40px;
    background: #febb1d;
    position: absolute;
    top: -70px;
    left: 50%;
    transform: skewX(-45deg);
    transform-origin: 100% 100% 0;
}

.testimonial .pic {
    display: inline-block;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 7px;
}

.testimonial .pic img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    border: 4px solid #09253d;
}

.testimonial .title {
    display: inline-block;
    font-size: 23px;
    font-weight: 700;
    color: #febb1d;
    letter-spacing: 1px;
    text-transform: capitalize;
}

.owl-theme .owl-controls {
    margin-top: 30px;
}

.owl-theme .owl-controls .owl-page span {
    width: 15px;
    height: 9px;
    border-radius: 0;
    background: #ffffff;
    opacity: 0.8;
    transition: all 0.3s ease 0s;
    border-radius: 50px;
}

.owl-theme .owl-controls .owl-page.active span {
    width: 40px;
    background: #febb1d;
    border-radius: 50px;
}

/*----- 8. FAQs -----*/

.card-group .card.accordion-custom {
    border-color: #f4f4f4;
    border-radius: 0;
    box-shadow: none;
}

.card-default.accordion-custom>.card-heading {
    background: #f8f8f8;
    color: #000;
    padding: 0;
}

.accordion-custom .card-title {
    font-size: 18px;
    font-weight: 500;
}

.card, .card-header {
    border: none;
    cursor: pointer;
    margin: 5px 0 0;
    padding: 5px 0;
}

.accordion-custom .card-title a {
    text-decoration: none;
    display: block;
    padding: 10px 25px 10px 125px;
    position: relative;
    transition: 0.5s;
}

.accordion-custom .card-title a:hover, .accordion-custom .card-title a:active {
    color: #febb1d;
}

.mar-top-30 {
    margin-top: 30px
}

.accordion-custom .card-title a:before {
    content: 'Q';
    font-weight: 800;
    font-size: 40px;
    position: absolute;
    color: #c7c7c7;
    width: 95px;
    left: 0;
    top: 60%;
    -webkit-transform: translateY(-55%);
    transform: translateY(-55%);
    text-align: center;
    line-height: 1;
}

.accordion-custom .card-title a:after {
    display: none;
}

.accordion-custom .card-body {
    font-size: 16px;
    padding: 30px 30px 30px 125px;
    font-style: italic;
    position: relative;
    border: 1px solid #ececec;
    border-top: none;
}

.accordion-custom .card-body:before {
    content: 'A.';
    font-weight: 800;
    font-style: normal;
    font-size: 44px;
    position: absolute;
    color: #eee;
    width: 95px;
    left: 6px;
    top: 30px;
    text-align: center;
    line-height: 1;
}

/*----- 9. Why Choose Us -----*/

.why-choode-wrap-box {
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 30px 15px;
    transition: 0.5s;
    background: #fff;
}

.why-choode-wrap-box:hover {
    background: #febb1d;
    color: #fff;
    border-color: #febb1d;
    transform: scale(1.05);
    box-shadow: 5px 5px 18px -5px rgba(0, 0, 0, 0.5)
}

.why-choode-wrap-box h5 {
    font-size: 25px;
    letter-spacing: 1px;
    font-weight: bold;
}

.why-choose-icon i {
    font-size: 50px;
    margin: 0 0 15px;
    color: #062135;
    transition: 0.5s
}

.why-choode-wrap-box:hover i, .why-choode-wrap-box:hover h5 {
    color: #fff
}


/*----- 10. Home News Slider -----*/

.home-news-slide .single-news {
    border: 1px solid #ddd;
    transition: 0.5s;
    margin: 20px 0;
    background-color: #fff;
}

.home-news-slide .single-news:hover {
    transform: scale(1.03);
    box-shadow: 5px 5px 12px -5px rgb(89, 89, 91);
}

.home-news-slide .single-news .image {
    position: relative;
}

.home-news-slide .single-news .image .date {
    position: absolute;
    right: 10px;
    bottom: -23px;
    width: 130px;
    height: 40px;
    background: #febb1d;
    border: 2px solid #ffffff;
    line-height: 40px;
    text-align: center;
    color: #ffffff;
    padding-top: 6px;
    z-index: 9;
    transform: skew(-20deg);
}

.home-news-slide .single-news .image .date p {
    text-transform: uppercase;
    transform: skew(20deg);
    color: #fff;
    font-weight: bold;
}

.home-news-slide .single-news .news-content strong {
    display: block;
    font-weight: 500;
    margin-bottom: 15px;
    border: 1px solid #f5f5f5;
    border-left: navajowhite;
    border-right: none;
    padding: 5px 0;
}

.home-news-slide .single-news .news-content {
    padding: 15px;
    margin-top: 15px
}

.home-news-slide .single-news .news-content strong span {
    display: inline-block;
    margin-right: 15px;
    color: #febb1d;
    letter-spacing: 1px;
}

.home-news-slide .single-news .news-content .read-more a {
    color: #febb1d;
    letter-spacing: 1px;
}

.home-news-slide .single-news .news-content h3 {
    font-size: 20px;
    text-align: left;
    font-weight: bold;
}

.home-news-slide .single-news .image:hover:after {
    opacity: 1;
}

.home-news-slide .single-news .image:after {
    background: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    content: "";
    top: 0;
    left: 0;
    position: absolute;
    z-index: 1;
    opacity: 0;
    -webkit-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    -o-transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: all 300ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.owl-theme .owl-controls .owl-buttons div {
    background: transparent;
    border: 2px solid #febb1d;
    border-radius: 0;
    width: 40px;
    height: 40px;
    line-height: 35px;
    font-weight: bold;
    padding: 0;
    color: #febb1d;
    font-size: 20px;
    text-align: center;
}

.owl-theme .owl-controls .owl-buttons .owl-prev {
    position: absolute;
    left: -2%;
    top: 50%;
    transform: translateY(-50%);
}

.owl-theme .owl-controls .owl-buttons .owl-next {
    position: absolute;
    right: -2%;
    top: 50%;
    transform: translateY(-50%);
}

/*----- 11. Home Page Latest Projects ------*/

.our-projects .center-button {
    margin: 0 auto;
}

.our-projects .center-button .btn.site-button {
    color: #febb1d;
    border-radius: 54px;
    font-size: 15px;
    padding: 8px 25px;
    text-align: center;
}
.our-projects-block {
  overflow: hidden;
  width: 100%;
}

.our-projects-block .our-projects-sort {
    margin: 0 auto;
    padding: 0;
    border: 0;
    list-style: none;
    margin-bottom: 40px;
    text-align: center;
}

.our-projects-block .our-projects-sort li {
  display: inline-block;
}

.our-projects-block .our-projects-sort li:after {
  content: '/';
  padding: 0 1rem;
  font-size: 15px;
}

.our-projects-block .our-projects-sort li:last-child:after {
  content: none;
}

.our-projects-block .our-projects-sort li a {
  color: #333;
}

.our-projects-block .our-projects-sort li.active > a {
  color: #febb1e;
}

@media (max-width: 575px) {
  .our-projects-block .our-projects-sort {
    margin-left: -1rem;
    margin-right: -1rem;
  }
  .our-projects-block .our-projects-sort li:after {
    display: none;
  }
  .our-projects-block .our-projects-sort li {
    padding: 0 1rem;
  }
}

.our-projects-block.inner .our-projects-sort {
  margin-bottom: 100px;
}

.our-projects-block.inner .our-projects-sort li {
  margin: 0 10px 10px 10px;
}

.our-projects-block.inner .our-projects-sort li > a {
  display: inline-block;
  border-radius: 4px;
  background: #eee;
  -webkit-transition: background 0.25s linear;
  transition: background 0.25s linear;
  padding: 6px 18px;
}

.our-projects-block.inner .our-projects-sort li:hover > a,
.our-projects-block.inner .our-projects-sort li.active > a {
  background: #C3AC6D;
  color: #fff;
}

.our-projects-block.inner .our-projects-sort li:after {
  content: none;
}

.our-projects-block.inner .our-projects-items {
  margin-left: -30px;
  margin-right: -30px;
  width: auto;
}

.our-projects-block.inner .our-projects-items [class^="col-"], .our-projects-block.inner .our-projects-items [class*=" col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

.our-projects-block.inner .our-projects-items .our-projects-item {
  padding: 0;
  margin-bottom: 30px;
}

.our-projects-block.inner .our-projects-items .our-projects-item.x2 a {
  height: 708px;
}

.our-projects-block.inner .our-projects-items .our-projects-item a {
  height: 340px;
}

.our-projects-items {
  margin-left: -17px;
  margin-right: -17px;
  width: auto;
}

.our-projects-items [class^="col-"], .our-projects-items [class*=" col-"] {
  padding: 0;
}

.our-projects-item {
  padding: 2px;
}

.our-projects-item.x2 a {
  height: 704px;
}

.our-projects-item a {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 350px;
  position: relative;
  display: block;
  cursor: pointer;
}

.our-projects-item a .our-projects-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.2);
  -webkit-transition: all 0.25s;
  transition: all 0.25s;
  padding: 50px 50px 0 50px;
}

.our-projects-item a .our-projects-hover h5 {
  color: #fff;
  font-size: 1.4rem;
  margin-bottom: 0;
  text-align: left;
  position: relative;
  -webkit-transform: translate3d(-20px, 0, 0);
          transform: translate3d(-20px, 0, 0);
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  opacity: 0;
}

.our-projects-item a .our-projects-hover span.desc {
  color: #fff;
  text-align: left;
  position: relative;
  display: block;
  margin-top: 20px;
  width: 100%;
  -webkit-transform: translate3d(-20px, 0, 0);
  transform: translate3d(-20px, 0, 0);
  -webkit-transition: all 0.65s;
  transition: all 0.65s;
  opacity: 0;
}

.our-projects-item a .our-projects-hover span.link {
  color: #fff;
  font-size: 3.3rem;
  text-align: left;
  position: absolute;
  bottom: 30px;
  left: 50px;
  line-height: 1;
  -webkit-transform: translate3d(-20px, 0, 0);
          transform: translate3d(-20px, 0, 0);
  -webkit-transition: all 0.75s;
  transition: all 0.75s;
  opacity: 0;
}

.our-projects-item:hover .our-projects-hover {
  background: rgba(0, 0, 0, 0.65);
  padding: 50px 35px;
}

.our-projects-item:hover .our-projects-hover h5 {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.our-projects-item:hover .our-projects-hover span.desc {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

.our-projects-item:hover .our-projects-hover span.link {
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  -webkit-transition-delay: 0.4s;
          transition-delay: 0.4s;
}

.our-projects-item img {
  max-width: 100%;
  height: auto;
}



/*----- 12. Home Page Team -----*/

#owl-our-team.row {
    margin: 0;
}
.our-team-item.item{
    transition: 0.5s;
    margin: 25px 20px;
}
.our-team-item.item:hover{
    transform: scale(1.03);
    box-shadow: 4px 4px 10px -5px rgb(89, 89, 91);
}
.our-team-left {
    width: 80%;
    position: relative;
}

.our-team-info {
    text-align: center;
    background: #001d33;
    border-top: 1px solid #ffffff;
    padding: 5px 0;
    position: relative;
    transform: skew(-15deg);
}

.our-team-info>h5 {
    color: #febb1e;
    font-weight: 400;
    margin-bottom: 5px;
    font-size: 20px;
    text-transform: uppercase;
    transform: skew(15deg);
}

.our-team-info p {
    color: #fff;
    transform: skew(15deg);
}

.our-team-info:after {
    content: '';
    width: 30px;
    height: 419px;
    border-right: 2px dashed #febb1e;
    border-bottom: 2px dashed #febb1e;
    position: absolute;
    bottom: 35px;
    right: 25px;
    transform: skew(15deg);
}

.team-social-icons {
    line-height: 40px;
    height: 40px;
    width: 40px;
    font-size: 18px;
    margin: 0;
    background: #222;
    display: block;
    position: absolute;
    text-align: center;
}

.team-social-icons-fb {
    top: 0px;
    right: -50px;
}

.team-social-icons>i {
    color: #dedede;
}

.team-social-icons-insta {
    top: 50px;
    right: -50px;
}

.team-social-icons-twitter {
    top: 100px;
    right: -50px;
}


/*----- 13. Inner Page Header -----*/

.background-bg {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    min-height: 400px;
    position: relative;
}

.about-us-banner {
    background-image: url(../images/inner-banner/about-us.jpg);
    background-color: (0, 0, 0, 0.8);
}

.inner-page-name .inner-page-box {
    border: 2px solid #fff;
    margin: 0px auto;
    max-width: 600px;
    padding: 30px;
    text-transform: uppercase;
    position: absolute;
    width: 100%;
    display: block;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.inner-page-name .inner-page-box-details {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 70px 50px;
}

.inner-page-name .title {
    color: #fff;
    font-size: 40px;
    letter-spacing: 2px;
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
}

.inner-page-name .location {
    color: #fff;
    font-size: 13px;
    margin: 0;
    letter-spacing: 1px
}

.inner-page-name .location a {
    color: #eee;
    text-decoration: none;
    position: relative;
    padding-right: 10px;
    transition: 0.5s
}

.inner-page-name .location a:after {
    content: "/";
    font-size: 13px;
    margin-left: 13px;
}

.inner-page-title-heading p {
    text-transform: uppercase;
    color: #febb1d;
    margin-left: 20px;
    letter-spacing: 0.18em;
}

.inner-page-title-heading h2 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 35px;
    margin-left: 20px;
    margin-bottom: 0;
    font-weight: bold;
}

.inner-page-title-heading:after {
    content: '';
    background: #febb1d;
    position: absolute;
    width: 10px;
    height: 100%;
    top: 0;
}

.mt20 {
    margin-top: 20px
}

.ct-in {
    background: #ebf6ff none repeat scroll 0 0;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    border-radius: 30px;
    color: #333;
    float: left;
    font-size: 17px;
    font-weight: 700;
    height: 55px;
    line-height: 55px;
    margin-top: 25px;
    overflow: hidden;
    padding-right: 50px;
    width: 100%;
}

.ct-in>span {
    background: #febb1d;
    color: #062135;
    float: left;
    font-size: 17px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 35px;
    text-transform: uppercase;
}
/*----- 14. Vision, Mission, Values ----*/
.split-box {
    padding: 0px;
    position: relative;
}
.split-box .image-container {
    overflow: hidden;
    position: absolute;
    height: 100%;
    padding: 0px;
    top: 0px;
}
.split-box .background-holder {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-size: cover !important;
    z-index: 0;
    background-position: 50% 50% !important;
}
.parallax-overlay-light:before {
    content: " ";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
}

.split-box .content {
    padding:50px;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}
.ml-10 {
    margin-left: 10px !important;
}

.border {
    border: 1px solid #e9e9e9;
    border-style: solid !important;
}
.mrg-horizon-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}
.mrg-vertical-30 {
    margin-top: 30px !important;
    margin-bottom: 30px !important;
}
.mr-10 {
    margin-right: 10px !important;
}
/*----- X. Back to Top -----*/

#toTopBtn {
    display: none;
    position: fixed;
    bottom: 60px;
    right: 0;
    z-index: 9;
    padding: 10px;
    cursor: pointer;
    background: rgba(0, 30, 51, 0.6);
    border: 1px solid rgba(254, 187, 29, 0.2);
    transform: rotate(-90deg);
    color: #fff;
    transition: 0.5s;
    font-size: 12px;
    font-weight: bold;
}

#toTopBtn :before {
    font-family: "FontAwesome";
    content: '\f178';
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
}

#toTopBtn:hover {
    background: rgba(254, 187, 29, 0.2);
    color: #000;
    margin-bottom: 5px;
}

/*----- XX. Footer -----*/

footer.footer {
    /*position: fixed;*/
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

footer.footer .top-footer {
    background: url(../images/blue_bg.jpg);
    min-height: 100px;
    color: #777;
    background-color: #042038;
    padding: 50px 0;
    background-size: contain;
}

footer.footer .footer-logo img {
    margin-bottom: 25px;
}

footer.footer .bottom-footer {
    background: #001d33;
    color: #FEBB1E;
    padding: 25px 0;
}

footer.footer .footer-title h2 {
    font-size: 22px;
    letter-spacing: 2px;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}

footer.footer .newsletter-bx {
    margin: 20px 0
}

footer.footer .newsletter-bx input {
    background: transparent;
    border: 1px solid #505050;
    color: #777
}

footer.footer .newsletter-bx button.site-button {
    background: transparent;
    color: #FEBB1E;
    position: absolute;
    right: 0;
    font-size: 25px;
    padding: 10px;
    opacity: 0.7;
}

footer.footer .footer-title h2:before {
    content: '';
    background: #FEBB1E;
    position: absolute;
    width: 40px;
    height: 2px;
    left: 20px;
    top: 35px;
    transform: skew(60deg);
}

footer.footer ul.list-style {
    padding: 0;
    margin-top: 20px;
}

footer.footer ul.list-style li a {
    transition: 1s;
    color: #777;
    line-height: 35px;
    text-decoration: none;
}

footer.footer ul.list-style li a:hover {
    color: #FEBB1E;
    text-decoration: none;
}

footer.footer ul.list-style li:before {
    font-family: "FontAwesome";
    content: '\f178';
    position: relative;
    margin-top: 5px;
    margin-right: 10px;
}

footer.footer .social-footer {
    margin: 30px 0
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li {
    display: inline-block;
    width: 50px;
    height: auto;
    position: relative;
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link {
    width: 40px;
    border: 1px solid rgba(254, 187, 29, 0.2);
    position: absolute;
    text-align: center;
    height: 40px;
    font-size: 17px;
    line-height: 40px;
    transition: 0.8s;
}

footer.footer .address-f {
    margin-top: 30px
}

footer.footer .footer-address-tilte {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #FEBB1E;
}

footer.footer .icon-md {
    float: left;
    margin-right: 10px;
    font-size: 60px;
    line-height: 100px;
    color: #FEBB1E;
    opacity: 0.5;
}

footer.footer .bdr-gray-dark {
    border: 1px solid rgba(254, 187, 29, 0.2);
    padding: 10px 15px;
    min-height: 130px;
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link:hover {
    margin-top: -5px;
    color: #fff;
    border: none;
    box-shadow: 1px 1px 10px 0px #59595b;
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link.footer-facebook-link:hover {
    background: #4867A9
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link.footer-twitter-link:hover {
    background: #21A1F0
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link.footer-linkedin-link:hover {
    background: #0677B4
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link.footer-youtube-link:hover {
    background: #FE0303
}

footer.footer .social-footer ul.social-icons.social-square.social-darkest li .footer-link.footer-instagram-link:hover {
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

footer.footer ul.list-style li a:hover {
    margin-left: 5px
}
